<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div>
            <label for="num">Введите первое простое число:</label>
            <input type="text" id="num" name="num" required><br><br>
        </div>
        <div>
            <label for="num1">Введите второе простое число:</label>
            <input type="text" id="num1" name="num1" required><br><br>
        </div>
        <div>
            <label for="num2">Введите количество символов:</label>
            <input type="text" id="num2" name="num2" required><br><br>
        </div>
        <div>
            <button name="encode">Сгенерировать</button>
        </div>
    </form>
<h1>{{result}}</h1>
</body>
</html>